<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Example\Started\Api\GetStartedInterface" type="Example\Started\Model\ResourceModel\GetStarted\Collection" />
</config>
